.container{
    width: 100%;
    height: 900px;
    background-color: #f8f8f8;
    position: relative;
}
.background{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.hero_content{
    align-items: center;
    display: flex;
    height: 500px;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
}
.hero_text{
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    max-width: 50rem;
    z-index: 3;
    color: #010103;
    
}
.hero_text h4{
    font-size: 2rem;
    font-family: var(--rubik);
    
}
.hero_text h1{
    font-family: var(--poppins);
    font-size: 4.5rem;
    line-height: 1;
    margin-top: 40px;
}
.hero_text h1 span{
    color: #ff4d30;;
}
.hero_text p{
    color: #706f7b;
    font-family: var(--rubik);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 40px;
    width: 80%;
}
.main_car{
    margin-top: 5rem;
    position: absolute;
    right: 0;
    width: 55%;
    z-index: 2;
}
.hero_buttons a{
    text-decoration: none;
    font-family: var(--rubik);
}
.hero_buttons{
    margin-top: 80px;
}
.book_ride{
    background-color: #ff4d30;
    border: 2px solid #ff4d30;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 rgba(255,83,48,.35);
    padding: 1.8rem 3rem;
    transition: all .3s;
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
}
.learn_more{
    background-color: #010103;
    border: 2px solid #010103;
    border-radius: 0.3rem;
    padding: 1.8rem 3rem;
    transition: all .3s;
    color: #fff;
    font-weight: 700;
    font-size: 1.3rem;
    margin-left: 40px;
}
.learn_more:hover{
    background-color: initial;
    color: #010103;
}