.planning{
    background-color: #ffffff;
    background: linear-gradient(to bottom,#f8f8f8,#ffffff);
    width: 100%;
    height: fit-content;
}
.plan_container{
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    padding-top: 100px;
}
.plan_title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
}
.plan_title h2{
    font-family: var(--poppins);
    font-weight: bold;
    margin-top: 20px;
    font-size: 3.2rem;
}
.plan_title h3{
    font-size: 2.2rem;
    font-family: var(--rubik);
}
.plan_box{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-around;
}
.plan_option{
    
    flex-direction: column;
    text-align: center;
}
.plan_option img{
    width: 230px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
}
.plan_option h3{
    font-family: var(--poppins);
    font-size: 2rem;
    font-weight: bold;
}
.plan_option p{
    font-family: var(--rubik);
    font-size: 1.3rem;
    color: #706f7b;
}