.download{
    /* width: 100%;
    height: 600px; */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    margin-bottom: 100px;
    width: 100%;
}
.download_text{
    width: 40%;
    height: 300px;
}
.download_content{
    
}

.download_text h2{
    font-family: var(--poppins);
    font-size: 3rem;
    line-height: 1.1;
}
.download_text p{
    font-size: 1.5rem;
    margin-top: 50px;
    color: #706f7b;
    font-family: var(--rubik);
}
.download_image{
    margin-top: 50px;
}

@media (max-width:1200px) {
    .download{
        background-image: none !important;
    }
}



